.main-content {
	height: 503px;
	padding: 25px 0 0 0;
}
#list {
	float: right;
	margin: 0 30px 0 0;
	width: 400px;
	height: 420px;
}
#list .line {
	display: block;
	width: 100%;
	height: 2px;
}
#list .line:nth-child(2) {
	background: -webkit-gradient(linear,
						  left top, 
						  right bottom,
						  from(#d0d0d0), to(#ffffff));
	background:	gradient(linear,
						  left top, 
						  right bottom,
						  from(#d0d0d0), to(#ffffff));
}
#list .line:nth-child(4) {
	background: -webkit-gradient(linear,
						  left top, 
						  right bottom,
						  from(#ffffff), to(#d0d0d0));
	background: gradient(linear,
						  left top, 
						  right bottom,
						  from(#ffffff), to(#d0d0d0));
}
#list #location {
	padding: 0 0 0 10px;
	height: 30px;
	color: #707070;
	line-height: 30px;
	font-size: 12px;
	cursor: default;
}
#list #location span:nth-child(1) {
	display: inline-block;
	margin: 0 0 0 15px;
}
#list #list-content {
	position: relative;
	padding: 12px 0 0 0;
	width: 100%;
	height: 328px;
	overflow: hidden;
}
#list .list-00 ,#list .list-01 
,#list .list-10 ,#list .list-11 ,#list .list-12 
,#list .list-20 ,#list .list-21 ,#list .list-22 {
	position: absolute;
	height: 100%;
	opacity: 0;
	z-index: -1;
	-webkit-transition: all .5s ease-in ;
  	-o-transition: all .5s ease-in ;
  	-moz-transition: all .5s ease-in ;
  	transition: all .5s ease-in ;
}
#list .list-00 {
	opacity: 1;
	z-index: 0;
}
#list #list-content p {
	position: relative;
	float: left;
	margin: 0 40px 18px 0;
	padding: 0 0 0 20px; 
	width: 140px; 
	height:18px;
	background-color: #fff;
	overflow: hidden;
	-webkit-transition: all .2s ease-in ;
  	-o-transition: all .2s ease-in ;
  	-moz-transition: all .2s ease-in ;
  	transition: all .2s ease-in ;
  	background-position:  -5px 6px;
  	background-repeat: no-repeat;
}
#list #list-content p span {
	display: inline-block;	
	width: 100%;
	overflow: hidden;
}
#list #list-content p span a {
	position: relative;
	color: #313131;
	white-space: nowrap;
}
#list #list-content p span a:hover {
	color: #4e98b7;
}
#list #list-content .link-hover {
	background: url(../images/link_hover.png) 5px 6px no-repeat;
}
#list #btn-contain #prev {
	float: right;
	margin: 20px 17px 0 0;
	width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #4e98b7;
    border-bottom: 5px solid transparent;
}
#list #btn-contain #next {
	float: right;
	margin: 20px 40px 0 17px;
	width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #4e98b7;
    border-bottom: 5px solid transparent;
}
.main-content #right-bar {
	position: fixed;
	top: 180px;
	right: -180px;
	width: 254px;
	height: 314px;
	background: url(../images/leftBar.png) 0px 0px no-repeat;
}
.main-content #right-bar .right-bar-content {
	position: absolute;
	top: 30px;
	left: 85px;
} 
.main-content #right-bar #right-bar-link {
	margin: 0 0 0 20px;
	width: 124px;
	height: 180px;
}
.main-content #right-bar .right-bar-content h4 {
	margin: 8px 0 6px 20px;
	font-size: 12px;
	color: #586b0f;
}
.main-content #right-bar .right-bar-content #right-bar-link p {
	position: relative;
	float: left;
	margin: 0 40px 8px 0;
	/*padding: 0 0 0 20px; */
	width: 84px; 
	height:18px;
	overflow: hidden;
	-webkit-transition: all .2s ease-in ;
  	-o-transition: all .2s ease-in ;
  	-moz-transition: all .2s ease-in ;
  	transition: all .2s ease-in ;
  	background-position:  -5px 6px;
  	background-repeat: no-repeat;
}
.main-content #right-bar .right-bar-content p span {
	display: inline-block;	
	width: 100%;
	overflow: hidden;
}
.main-content #right-bar .right-bar-content p span a {
	position: relative;
	color: #000000;
	white-space: nowrap;
}
.main-content #decoration {
	position: relative;
	float: left;
	width: 515px;
	height: 100%;
}
.main-content #decoration #cloud01 {
	position: absolute;
	top: 20px;
	left: 60px;
	width: 98px;
	height: 75px;
	background: url(../images/cloud01.png) center center no-repeat;
}
.main-content #decoration #cloud02 {
	position: absolute;
	top: 70px;
	left: 328px;
	width: 78px;
	height: 60px;
	background: url(../images/cloud02.png) center center no-repeat;
}
.main-content #decoration #round-container {
	position: relative;
	top: 255px;
	width: 490px;
	height: 490px;
}
.main-content #decoration #round-container #round {
	position: absolute;
	width: 490px;
	height: 490px;
	background: url(../images/round12.png) center center no-repeat;
}
.main-content #decoration #round-container #apple 
,.main-content #decoration #round-container #banana 
,.main-content #decoration #round-container #pear {
	position: absolute;
	width: 490px;
	height: 490px;
}
.main-content #decoration #round-container #banana ,.main-content #decoration #round-container #pear {
	opacity: 0;
}
.main-content #decoration #round-container .s1 {
	position: absolute;
	/*display: none;*/
	left: 75px;
	top: -32px;
	width: 208px;
	height: 152px;
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
	background: url(../images/img11.png) center center no-repeat;
}
.main-content #decoration #round-container .s2 {
	position: absolute;
	/*display: none;*/
	left: 245px;
	top: -14px;
	width: 184px;
	height: 148px;
	-webkit-transform: rotate(22deg);
	transform: rotate(22deg);
	background: url(../images/img12.png) center center no-repeat;
}
.main-content #decoration #round-container .s3 {
	position: absolute;
	left: 5px;
	top: 60px;
	width: 150px;
	height: 120px;
	-webkit-transform: rotate(-48deg);
	transform: rotate(-48deg);
	background: url(../images/img21.png) center center no-repeat;
	/*opacity: 0;*/
}
.main-content #decoration #round-container .s4 {
	position: absolute;
	left: 145px;
	top: -72px;
	width: 218px;
	height: 220px;
	-webkit-transform: rotate(4deg);
	transform: rotate(4deg);
	background: url(../images/img22.png) center center no-repeat;
	/*opacity: 0;*/
}
.main-content #decoration #round-container .s5 {
	position: absolute;
	left: 333px;
	top: 42px;
	width: 145px;
	height: 148px;
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
	background: url(../images/img23.png) center center no-repeat;
	/*opacity: 0;*/
}
.main-content #decoration #round-container .s6 {
	position: absolute;
	left: -5px;
	top: 5px;
	width: 190px;
	height: 155px;
	-webkit-transform: rotate(-42deg);
	transform: rotate(-42deg);
	background: url(../images/img31.png) center center no-repeat;
	/*opacity: 0;*/
}
.main-content #decoration #round-container .s7 {
	position: absolute;
	left: 175px;
	top: -72px;
	width: 162px;
	height: 225px;
	-webkit-transform: rotate(4deg);
	transform: rotate(4deg);
	background: url(../images/img32.png) center center no-repeat;
	/*opacity: 0;*/
}
.main-content #decoration #round-container .s8 {
	position: absolute;
	left: 325px;
	top: 32px;
	width: 170px;
	height: 150px;
	-webkit-transform: rotate(50deg);
	transform: rotate(50deg);
	background: url(../images/img33.png) center center no-repeat;	
	/*opacity: 0;*/
}
.main-content #decoration #round-container .t1 {
	position: absolute;
	left: 60px;
	top: -60px;/**/
	width: 80px;
	height: 72px;
	background: url(../images/talk11.png) center center no-repeat;	
	opacity: 1;
}
/*.main-content #decoration #round-container .t1-hover {
	left: 60px;
	top: -60px;
	opacity: 1;	
}*/
.main-content #decoration #round-container .t2 {
	position: absolute;
	/*display: none;*/
	left: 332px;
	top: -75px;
	width: 85px;
	height: 70px;
	background: url(../images/talk12.png) center center no-repeat;	
	opacity: 1;
}
/*.main-content #decoration #round-container .t2-hover {
	left: 332px;
	top: -75px;
	opacity: 1;	
}
*/.main-content #decoration #round-container .t3 {
	position: absolute;
	/*display: none;*/
	left: 0px;
	top: 32px;/**/
	width: 80px;
	height: 60px;
	background: url(../images/talk21.png) center center no-repeat;	
	opacity: 0;
}
.main-content #decoration #round-container .t3-hover {
	left: 0px;
	top: -8px;
	opacity: 1;	
}
.main-content #decoration #round-container .t4 {
	position: absolute;
	/*display: none;*/
	left: 160px;
	top: -72px;
	width: 82px;
	height: 68px;
	background: url(../images/talk22.png) center center no-repeat;	
	opacity: 0;
}
.main-content #decoration #round-container .t4-hover {
	left: 160px;
	top: -112px;
	opacity: 1;	
}
.main-content #decoration #round-container .t5 {
	position: absolute;
	/*display: none;*/
	left: 410px;
	top: 25px;/**/
	width: 80px;
	height: 72px;
	background: url(../images/talk23.png) center center no-repeat;	
	opacity: 0;
}
.main-content #decoration #round-container .t5-hover {
	left: 410px;
	top: -15px;
	opacity: 1;	
}
.main-content #decoration #round-container .t6 {
	position: absolute;
	/*display: none;*/
	left: 0px;
	top: -5px;/**/
	width: 80px;
	height: 60px;
	background: url(../images/talk31.png) center center no-repeat;	
	opacity: 0;
}
.main-content #decoration #round-container .t6-hover {
	left: 0px;
	top: -45px;
	opacity: 1;	
}
.main-content #decoration #round-container .t7 {
	position: absolute;
	/*display: none;*/
	left: 200px;
	top: -45px;
	width: 82px;
	height: 68px;
	background: url(../images/talk32.png) center center no-repeat;	
	opacity: 0;
}
.main-content #decoration #round-container .t7-hover {
	left: 200px;
	top: -95px;
	opacity: 1;	
}
.main-content #decoration #round-container .t8 {
	position: absolute;
	/*display: none;*/
	left: 400px;
	top: 8px;/**/
	width: 80px;
	height: 72px;
	background: url(../images/talk33.png) center center no-repeat;	
	opacity: 0;
}
.main-content #decoration #round-container .t8-hover {
	left: 400px;
	top: -32px;
	opacity: 1;	
}
.s1 ,.s2 ,.s3 ,.s4 ,.s5 ,.s6 ,.s7 ,.s8 {
	-webkit-transition: all .3s ease-in-out ;
  	-o-transition: all .3s ease-in-out ;
  	-moz-transition: all .3s ease-in-out ;
  	transition: all .3s ease-in-out ;
}
.t1 ,.t2 ,.t3 ,.t4 ,.t5 ,.t6 ,.t7 ,.t8 {
	-webkit-transition: all .3s ease-in-out ;
  	-o-transition: all .3s ease-in-out ;
  	-moz-transition: all .3s ease-in-out ;
  	transition: all .3s ease-in-out ;
	cursor: pointer;
}
#bgc {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .8;
	filter:alpha(opacity=80);
	z-index: 9998;
}
.attention {
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -120px 0 0 -180px;
	width: 360px;
	height: 240px;
	background-color: #4E98B7;
	z-index: 9999;
}
.attention h1 {
	display: block;
	color: #C0CDAD;
	text-align: center;
	font-size: 24px;
	height: 60px;
	line-height: 60px;
}
.attention #atten-content {
	padding: 10px 20px;
	width: 320px;
	height: 160px;
	color: #313131;
	background-color: #fff;
}
.attention .sry {
	text-indent: 2em;
}
.attention .explain {
	text-indent: 2em;
}
.attention .explain span {
	color: red;
}
.attention .rec h4 {
	color: #000;
	font-size: 120%;
}

.attention .rec p {
	text-align: center;
}